@import "tailwindcss";
@import "react-calendar-heatmap/dist/styles.css";

/* 가로 모드 */
@media (orientation: landscape) and (max-height: 500px) {
  /* 모바일 타이머는 항상 표시 */
  .mobile-timer {
    display: block !important;
  }

  /* 데스크탑 타이머는 항상 숨김 (sm 이상이어도) */
  .desktop-timer {
    display: none !important;
  }
}

/* 잔디 디자인 */
.react-calendar-heatmap {
  width: 900px;
  height: 240px;
}

.react-calendar-heatmap .color-empty {
  fill: #ebedf0;
}
.react-calendar-heatmap .color-scale-1 {
  fill: #c6e48b;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #7bc96f;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #239a3b;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #196127;
}
.react-calendar-heatmap .color-scale-5 {
  fill: #1d4d1d;
}
